*{
    margin: 5px;
}

.container{
    display: flex;
}

.col-1{
    background-color: gray;
    width: 300px;
    padding: 30px;
    margin: 50px;
}

.error{
    background-color: rgb(247, 138, 156);
    color: red;
    width: 100%;
}